.navigation__container {
    width: 180px;
    height: inherit;
    background-color: var(--color-2);
    z-index: 999;
}


/* Mobile */
@media (max-width: 576px) {
    .navigation__container {
        width: 100%;
    }
}