.navigation__container {
    width: 300px;
    height: inherit;
    background-color: var(--color-2);
    overflow: scroll;
}


/* Mobile */
@media (max-width: 576px) {
    .navigation__container {
        width: 100%;
    }
}