.navigation__container {
    width: 180px;
    height: inherit;
    background-color: var(--third-color);
}


/* Mobile */
@media (max-width: 576px) {
    .navigation__container {
        width: 100%;
    }
}