.sidebar__container {
    display: flex;
    justify-content: center;
    width: 60px;
    height: inherit;
    background: var(--color-1);
}

.sidebar_navigation__container {
    display: flex;
    flex-direction: row;

    height: inherit
}

.sidebar__home_icon {
    margin-top: 24px;
}

/* Mobile */
@media (max-width: 576px) {
    .sidebar__container {
       display: none
    }
    
}