@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vujahday+Script&display=swap');

 body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /********* Variables ***********/
  --secondary-color : #414141;
  --third-color : #f7f7f7;
  --stryker-blue : #2b72cc;

  /********* Media Queries *********/
  --mobile : 576px;
  --tablet : 768px;
  --laptop : 992px;
  --desktop : 1200px;
  --xl-desktop: 1440px
}

