.home_icon__container {
    width: 32px;
    height: 32px;
    padding-top: 8px;
    padding-left: 8px;
    background-color: var(--stryker-blue);
    border-radius: 50%;
}

.home_icon__container:hover {
    cursor: pointer;
}

.home_icon__image {
    width: 24px;
    height: 24px;
    background: transparent url(./images/icon-home.svg) 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 24px;
}
